<head>
    <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body id="bodyshow">
    
    <h2><%= @todo_description %></h2>
    <span class="pomodoro-estamate"><%= @todo_pomodoro_estamate %> Pomodoros </span>
    <input type="checkbox"/>
    <h1>Clean my room</h1>
    <a>Edit</a>
    <a>Delete</a>
    <a href="https://todo-app-back-end-maximo100100.c9users.io/todo/index"> Return </a>    
    
</body>